.header {
    background-color: #fdb140;
    height: 5.5rem;
}

.header .logo > img {

    height: 5rem;
}

.header a {
    color: #000;
    font-size: 1.2em;
    line-height: 5.5rem;
}

.header .right {
    float: right;
    display: inline-block;
}
