@use 'colors.scss' as *;

.header {
    background-color: $primary-color;
    height: 6rem;
}

.header .logo > img {
    height: 5rem;
}

.header a {
    font-size: 0.8rem;
    color: #000;
    font-size: 1.2em;
    line-height: 6rem;
    margin-left: 0.5em;
}

.header .right {
    float: right;
    display: inline-block;
}
