@use 'header.scss';
@use 'tables.scss';
@use 'pricelist.scss';
@use 'login.scss';
@use 'footer.scss';

body, html {
    margin: 0;
}
 
body {
    background-color: #fffcf0;
}

.main {
    padding: 20px 2rem 70px;
}

.center-inside {
    height: 100%;
    display: grid;
}
.center-inside > * {
    margin: auto;
}