/*bootstrap*/
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import 'colors.scss';

@import 'header.scss';
@import 'footer.scss';
@import 'tables.scss';
@import 'pricelist.scss';
@import 'login.scss';
@import 'cards.scss';

// Bootstap cd
@import '~bootstrap/scss/utilities';
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

body, html {
    margin: 0;
}

body {
    background-color: #fffef9;
    color: #393f44;
}

.main {
    padding: 20px 2rem 70px;
}

.center-inside {
    height: 100%;
    display: grid;
}

.center-inside > * {
    margin: auto;
}

.button-black {
    background-color: black;
    border-color: black;
}

.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: black;
}

.button-black.button-clear {
    border-color: transparent;
}

.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
}

.icon-button {
    background-color: transparent;
    border: transparent;
    color: #272727;
    font-size: 1em;
}

.search-menu {
    padding-top: 20px;
    padding-bottom: 20px;

    h4 {
        text-align: center;
    }
}
