@page
@model Supp.Web.Pages.Account.RegisterModel
@{
}
<form method="post">
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
</form>
