<div class="header">
    <div class="container">
        <a class="logo" href="/">
            <img src="~/img/logo.png" />
        </a>
        <div class="right">
            <a asp-page="/Projects/Index">Projekty</a>
        </div>
    </div>
</div>