<div class="header">
    <div class="container">
        <a class="logo" href="/">
            <img src="~/img/logo.png" />
        </a>
        <div class="right">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-page="/Projects/Index">Projekty</a>
                <a>@User.Identity.Name</a>
            }
            else
            {
                <a asp-page="/Account/Login">Zaloguj się</a>
            }
        </div>
    </div>
</div>