<!DOCTYPE html>
<html>
<head>
    <style>
        body, html {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div style="background-color:#88daf3">
        <a href="/">
            <img style="margin:0; height:50px;" src="~/img/logo.png" />
        </a>
    </div>
    <div style="margin:10px">

        @RenderBody()
    </div>
</body>
</html> 