<!DOCTYPE html>
<html>
<head>
    <title>supp ;)</title>
</head>
<body>
    <partial name="_Header" />
    <div class="container main">
        @*<div id="app"></div>*@
        @RenderBody()
    </div>
    <script src="~/js/bundle.js"></script>
</body>
</html> 