<!DOCTYPE html>
<html>
<head>
    <style></style>
</head>
<body>
    <div class="header">
        <a class="logo" href="/">
            <img src="~/img/logo.png" />
        </a>
    </div>
    <div style="margin:10px">
        <div id="app"></div>
        @RenderBody()
    </div>
    <h1>dup</h1>
    <a class="button" href="#">Default Button</a>
    <script src="~/js/bundle.js"></script>
</body>
</html> 