@page
@model Supp.Web.Pages.IndexModel
@{
}
<h1 class="center">Supp - centrum opini</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<div class="pricelist">
    <h2>Cennik</h2>
    <div class="row">
        <div class="column">
            <div class="content">
                <h3>Basic</h3>
                <ul>
                    <li>Punkt 1</li>
                    <li>Punkt 2</li>
                    <li>Punkt 3</li>
                    <li>Punkt 4</li>
                </ul>
                <button class="buy">Kup 10PLN/miesiąc</button>
            </div>
        </div>
        <div class="column best">
            <div class="content">
                <h3>Premium</h3>
                <ul>
                    <li>Punkt 1</li>
                    <li>Punkt 2</li>
                    <li>Punkt 3</li>
                    <li>Punkt 4</li>
                    <li class="highlight">Punkt 5</li>
                    <li class="highlight">Punkt 6</li>
                </ul>
                <button  class="buy">Kup 20PLN/miesiąc</button>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <h3>Enterprise</h3>
                <ul>
                    <li>Punkt 1</li>
                    <li>Punkt 2</li>
                    <li>Punkt 3</li>
                    <li>Punkt 4</li>
                    <li>Punkt 6</li>
                    <li class="highlight">Punkt 7</li>
                    <li class="highlight">Punkt 8</li>
                </ul>
                <button class="buy">Kup 200PLN/miesiąc</button>
            </div>
        </div>
    </div>
</div>