@page
@model Supp.Web.Pages.IndexModel
@{
}
<h1 class="center">Supp - centrum opini</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum porta metus, in molestie lectus ultrices nec. Aliquam ac leo justo. Vivamus feugiat odio et urna scelerisque, non auctor quam blandit. Aenean dictum arcu quis ornare gravida. Proin congue, velit sit amet viverra commodo, enim ligula tempus libero, eu iaculis metus magna sit amet arcu. Maecenas eget justo eu nibh aliquet facilisis. Nulla rhoncus, purus vitae sagittis vehicula, nibh risus tempus nisl, eget sagittis tortor magna sed nibh. Curabitur eget vulputate risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus sagittis feugiat venenatis. Nunc justo massa, fringilla a massa et, aliquam pharetra tellus. Nulla interdum varius orci non varius. Curabitur feugiat mollis iaculis. Cras diam enim, luctus sed tortor eu, auctor placerat diam. Nullam nunc leo, eleifend sit amet maximus ut, faucibus ac ligula.
</p>
<p>
    Nam convallis vehicula semper. Proin efficitur libero ac risus mattis, vel tempus nunc interdum. Pellentesque blandit, urna vel tempus pharetra, ante neque mollis lorem, sed pellentesque neque purus id nisi. In sed sem quis leo bibendum condimentum a at felis. Fusce ligula nunc, eleifend vitae tellus eget, luctus consequat magna. Aenean vitae mollis lorem. Etiam mollis lobortis ex.
</p>
<p>
    Phasellus massa neque, lobortis a efficitur elementum, congue non sapien. Proin viverra, ante eu suscipit mattis, enim enim tempor nunc, commodo gravida tortor massa nec velit. Donec luctus ante vestibulum blandit egestas. Donec sem sem, vulputate ac rutrum porttitor, sollicitudin id lectus. Integer non condimentum dui. Donec varius urna urna, ac accumsan ligula varius vel. In vel blandit augue, eget blandit lacus. In hac habitasse platea dictumst. Proin non neque vel dolor hendrerit vehicula non a ipsum. Cras leo elit, dignissim sit amet mauris nec, ornare aliquam magna.
</p>

<div class="pricelist">
    <h2>Cennik</h2>
    <div class="row">
        <div class="col">
            <div class="content">
                <h3>Basic</h3>
                <ul>
                    <li>Punkt 1</li>
                    <li>Punkt 2</li>
                    <li>Punkt 3</li>
                    <li>Punkt 4</li>
                </ul>
                <button class="btn btn-primary buy">Kup 10PLN/miesiąc</button>
            </div>
        </div>
        <div class="col best">
            <div class="content">
                <h3>Premium</h3>
                <ul>
                    <li>Punkt 1</li>
                    <li>Punkt 2</li>
                    <li>Punkt 3</li>
                    <li>Punkt 4</li>
                    <li class="highlight">Punkt 5</li>
                    <li class="highlight">Punkt 6</li>
                </ul>
                <button class="btn btn-primary buy">Kup 20PLN/miesiąc</button>
            </div>
        </div>
        <div class="col">
            <div class="content">
                <h3>Enterprise</h3>
                <ul>
                    <li>Punkt 1</li>
                    <li>Punkt 2</li>
                    <li>Punkt 3</li>
                    <li>Punkt 4</li>
                    <li>Punkt 6</li>
                    <li class="highlight">Punkt 7</li>
                    <li class="highlight">Punkt 8</li>
                </ul>
                <button class="btn btn-primary buy">Kup 200PLN/miesiąc</button>
            </div>
        </div>
    </div>
</div>