@page
@model Supp.Web.Pages.Projects.CreateModel
@{
}

<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Nazwa</label>
        <input class="form-control" id="name" asp-for="Project.Name">
        <div id="emailHelp" class="form-text">@Html.ValidationMessageFor(m=>m.Project.Name)</div>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>